<div id="logo-title" class="site-name">
    <div id="hero" class="hero">
    <img src="../images/banner-sm.png" 
        srcset="/dist/images/banner-sm.pngimages/banner-sm.png 500w,
            /images/banner.png
          "alt="Image of a bank vault">
    </section>
  </div>
  <h1 id="site-name">IdentiSafe</h1>
</div>
<div id="nav-container">
  <nav>
    <ul id="navList">
      <li><a href="/index.html">Home</a></li>
      <li><a href="/emailBreachSummary/index.html">Search Email</a></li>
      <li><a href="/breachDetail/index.html">Search Domain</a></li>
    </ul>
  </nav>
  </div>

</div>
